.home {
    width: 50%;
    margin: 0 auto;
}

.form_container {
    margin: 40px 0px 30px;
    background-color: #ee5252;
    border-radius: 10px;
    padding: 25px 20px;
}

.form_container form {
    display: flex;
    align-items: center;
    gap: 30px;
}

.error_text {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    background-color: #ee5252;
    width: 300px;
}

/* .list_of_streets {
} */
